/********** Element Tag Selector*********/

body{
    margin: 0;
    font-family: 'Merriweather', serif; /*serif as a default prevent unexpected error*/
    text-align: center;
}

h1{
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

/**********Class Selector*********/
.top_section{
    position: relative;
    background-color: #C0EEE4;
    padding-top: 100px;
}

.middle_section{
   

}

.end_section{
 
    
}

.profile_photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.skiil_photo{

}

.underline{
    text-decoration: underline;
}




/**********ID Selector*********/

#top_cloud{
    position: absolute;
    right: 300px;
    top:50px;



}

#buttom_cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;

}


