/********** Element Tag Selector*********/

body{
    margin: 0;
    font-family: 'Merriweather', serif; /*serif as a default prevent unexpected error*/
    text-align: center;
}

a{
    color:#11999E
}

h1{
    margin:50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 520%;
    color: #66BFBF;

}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}





/**********Class Selector*********/
.top_section{
    position: relative;
    background-color:#EAFDFC;
    padding-top: 100px;
}

.middle_section{
   

}

.end_section{
 
    
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.profile_photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skill_photo_c1{
    width: 25%; /*25 percent width of its partents (div)"*/
    float: left; /*move the photo to the left*/
    margin-right: 30px;
    border-radius: 50%;

}

.skill_photo_c2{
    width: 25%; /*25 percent width of its partents (div)"*/
    float: right;
    margin-left: 10px;
    border-radius: 50%;

}



.underline{
    text-decoration: underline;
}


/**********ID Selector*********/

#top_cloud{
    position: absolute;
    right: 300px;
    top:50px;



}

#buttom_cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;

}


